body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
}
.login-area {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
}
.form-control {
    height: 55px;
    border-radius: 8px;
    border: 1px solid #ebedf2;
    padding: 10px 20px;
}
.btn-primary {
    background-color: #2f49d1 !important;
    border-color: #2f49d1 !important;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
}
h4 {
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 10px;
}
.label-title {
    font-weight: 700;
    font-size: 13px;
    color: #333;
}